<div class="nano">
    <div class="nano-content">
        <nav id="menu" class="nav-main" role="navigation">
            <ul class="nav nav-main pt-2">
                <li class="nav-item @ViewBag.AIndex">
                    <a class="nav-link" href="/Panel">
                        <i class="fa-regular fa-house" aria-hidden="true"></i>
                        <span>Anasayfa</span>
                    </a>
                </li>

                <li class="nav-item @ViewBag.AFirma">
                    <a class="nav-link" href="/Firma/">
                        <i class="fa-sharp fa-regular fa-buildings"></i>
                        <span>Projeler</span>
                    </a>
                </li>

              @*   <li class="nav-item @ViewBag.AHaber">
                    <a class="nav-link" href="/Haber/">
                        <i class="fa-solid fa-newspaper"></i>
                        <span>Haberler</span>
                    </a>
                </li>

                <li class="nav-item @ViewBag.AMetin">
                    <a class="nav-link " href="/Text">
                        <i class="fa-solid fa-font"></i>
                        <span>Metinler</span>
                    </a>
                </li>

                <li class="nav-item @ViewBag.AForm">
                    <a class="nav-link " href="/Form">
                        <i class="fa-solid fa-message"></i>
                        <span>Formlar</span>
                    </a>
                </li> *@

                <li class="nav-item @ViewBag.AMail">
                    <a class="nav-link " href="/Mail">
                        <i class="fa-solid fa-envelope"></i>
                        <span>Mailler</span>
                    </a>
                </li>

            </ul>
        </nav>
    </div>
</div>